<h3>
    Provider/Resource Server/Auth Server
  </h3>
  <a href="/login" target="">Login</a><br>
  <a href="/account" target="">Account</a><br>  
  <a href="/logout" target="">Logout</a><br>  
  <a href="/newuser" target="">New user</a>