<%= errors %>
<form action="/newuser" method="post">
	<div>
  	<label>Username:</label>
  	<input type="text" name="username" /><br/>
	</div>
	<div>
  	<label>Password:</label>
  	<input type="password" name="password" /><br/>
	</div>
	<div>
    <label>Confirm Password:</label>
    <input type="password" name="confirmPassword" /><br/>
    </div>
    <label>Name:</label>
  	<input type="text" name="name" /><br/>
	</div>
  	<label>Email:</label>
  	<input type="text" name="email" /><br/>
	</div>    
	<div>
	  <input type="submit" value="Submit" />
	</div>
</form>
